<header class="page-header">
  <nav class="page-header__nav">
    <ul>
      <li>
        <a href="/">About</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </nav>
</header>
