<header class="blog-header">
  <nav class="blog-header__nav">
    <ul>
      <li class="blog-header__logo">
        <a href="/"></a>
      </li>
      <li class="flex-spacer"></li>
      <li>
        <a href="/">About</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </nav>
</header>
