<header class="header">
  <a class="header__logo" href="/"></a>
  <nav class="header__nav">
    <ul>
      <li>
        <a href="/">about</a>
      </li>
      <li>
        <a href="/blog">blog</a>
      </li>
    </ul>
  </nav>
</header>
