{
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "overrides": [
        {
            "files": "*.webc",
            "options": {
                "parser": "markdown",
                "proseWrap": "preserve"
            }
        }
    ]
}
