---
title: Ensō
date: 2018-12-06
heroURL: ./enso/hero.png
demoURL: https://enso.sonnet.io
---

Ensō is a writing tool that helps you enter a state of flow.

It does this by separating writing from editing and thus making it harder for you to edit yourself.

More info [here](/posts/ulysses).