---
title: Dall-e UI Cheap Bastard Edition™
date: 2022-11-10
heroURL: ./dall-e/hero.jpg
demoURL: https://dall-e.sonnet.io
---

A (6-10 times) cheaper Dall-e UI. I built it for my own testing purposes.

More context [here](https://twitter.com/rafalpast/status/1591138659297726464/photo/1).