---
title: 'Sulik: HTML5-powered AI Voice Assistant'
date: 2014-11-09
_heroURL: ./sulik/hero.png
---

A proof-of-concept assistant using voice recognition, sophisticated text-to-speech services and Wolfram Alpha trying to act as a more geeky Siri.

Seems like I was onto something, since 9 years later OpenAI [released their Wolfram Alpha plugin](https://opentai.com).