---
title: 'Images'
date: 2023-01-31
hidden: true
heroURL: '/images/emotive-conjugation/hero.png'
thumbnail: '/images/emotive-conjugation/social.jpg'
description: 'Testing images'
---

Oi tammy!

### local image (top level)

{% pic "./src/site/images/emotive-conjugation/comic-strip.png", "Local image test (top level)" %}

### local image (colocated)

{% pic "./src/site/images/emotive-conjugation/comic-strip.png", "Local image test (colocated)" %}
