---
title: 'Images'
date: 2023-01-31
hidden: true
heroURL: '/images/emotive-conjugation/hero.png'
thumbnail: '/images/emotive-conjugation/social.jpg'
description: 'Testing images'
---

Oi tammy!

### local image (colocated)

{% pic "./wahoo.jpeg", "Local image test (colocated)" %}


### local image (top level)

{% pic "./src/site/images/emotive-conjugation/comic-strip.png", "Local image test (top level)" %}



### remote image

{% pic "https://www.potato.horse/_next/image?url=https%3A%2F%2Fimages.ctfassets.net%2Fhyylafu4fjks%2F3WKWuWcniO6PVjc44gdfBZ%2Ff76852eb3f9906e24e01c7b6ca2e9f55%2FUntitled_Artwork_3.png&w=3840&q=75", "oi" %}