---
title: '***'
date: 2023-05-25
hidden: false
---


I remember the first time I drew a face. It looked like this:

{%pic "./imgs/face.png", "a face" %}

I was sitting on the slope of a hill overlooking my house with my older cousin. It was a late summer afternoon: still warm, with the grass still golden, but slowly turning red, the air smelling like honey and beeswax. He drew first. I followed. 

That's how I draw faces now:

{%pic "./imgs/face-now.png", "a face" %}

I also remember the first letter I ever wrote! It looked like this:

{%pic "./imgs/r.png", "an r" %}

I drew it on a wooden plank with a red flat carpenter pencil. The shape of the [lead](https://www.beatsons.co.uk/images/faithfull-carpenters-pencils-red-pack-of-3-sharp-card-p7045-30241_medium.jpg) and the texture of the wood made it hard to draw curves. You had to go in straight lines and press just a little bit so the lead didn't sink into the pulp. 

I drew it in the room all of us slept and watched TV. The light was crisp (with the shadows freshly chiseled) and the air smelled of spring and tobacco. My dad wrote first. Then I followed. 

This is how I write now:

{%pic "./imgs/hi.png", "a hi" %}


*Hello!* says the impostor syndrome (nihilism kicks in): I'm none of the things I wanted to be between then and now. I still draw the same face and I still write the same «ر».

 {# Impostor syndrome and nihilism kicks in when I don't feel useful. I drew 1000s of faces and this one time I had spent several nights writing the word "love" in the same style 1000s of times to get it right. #}

And, none of the faces I draw look like this:

<a href='#step-1' class='next-step-button preview-container-cta'>Click to continue</a>
<section class="faces__step-1" id='step-1' hidden="hidden">
    <div class="preview-container" hidden>
        <div class="embed">
            <video class='preview-container-video' id='preview' autoplay loop muted></video>
        </div>
        <div class="error-message">There was an error, that's ok. Try again or find a mirror.</div>
        <div class="cannot-see-you-message">Don't worry, I can't see you.</div>
    </div>
    <p><a href='#step-2' class='next-step-button'>Click to continue...</a></p>
</section>


<section class='faces__step-2' hidden id='step-2'>

And, none of the notes I write look like this:
{% fig "./imgs/folio.png", "Calligraphy"  %}
Calligraphy (written with a reed pen)
{% endfig %}

 Or this:

{%fig "./imgs/reed1.jpg", "Calligraphy"  %}
<a href='http://www.dar-al-masnavi.org/n-I-0001.html#1'>Calligraphy</a> (written with a reed pen)
{% endfig %}

<hr>

But then, I draw a little face on a piece of rock and you smile.

I write you a card and you read my name, rolling your Rs.
</section>


<style>
    [hidden] {
        visibility: hidden !important;
        opacity: 0;
    }

    .cannot-see-you-message {
        position: absolute;
        bottom: 0;
        z-index: 1;
        left: 50%;
        translate: -50% 0;
        font-size: 1.25rem;
    }
    .preview-container {
        {# background: url('/images/face/placeholder.webp'); #}
        background-size: contain;
        position: relative;
        aspect-ratio: 4/3;
        margin-left: calc(var(--page-margin) * -1);
        width: calc(100% + calc(var(--page-margin) * 2));
        animation: preview-container--enter 1s ease-in-out;
    }

    .cannot-see-you-message {

    }

    @keyframes preview-container--enter {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    .preview-container::after {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        background: url('/images/face/mirror.webp');
        background-size: contain;
    }

    .preview-container button {
        position: absolute;
        top: 10%;
        left: 50%;
        translate: -50% 0;
        background: black;
        color: white;
        border: none;
        font-size: 2rem;
        padding: 0 1rem;
        line-height: 2em;
        cursor: pointer;
    }

    .preview-container .error-message {
        position: absolute;
        left: 10%;
        right: 10%;
        bottom: 10%;

        background: white;
        color: black;
        padding: 2rem;
        font-size: 2rem;
        text-align: center;
        border: 2px solid black;
        visibility: hidden;
    }

    .preview-container button:hover {
        opacity: 0.8;
    }

    .preview-container .embed {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .preview-container video {
        position: absolute;
        inset: 10%;
        visibility: hidden;
        aspect-ratio: 4/3;
        object-fit: cover;
        filter: brightness(1.4) contrast(4.3)  saturate(0)
    }

    .preview-container__spacer {
        width: 100%;
        height: 100vh;
    }
</style>

<div class="preview-container__spacer"></div>

<script type='module'>
    const previewContainerEl = document.querySelector('.preview-container');
    const ctaEl = document.querySelector('.preview-container-cta');
    const videoEl = document.querySelector('.preview-container-video');
    const errorMessageEl = document.querySelector('.error-message');
    document.querySelectorAll('.next-step-button').forEach(
        el => el.addEventListener('click', (e) => {
            e.preventDefault();
            e.target.hidden = true;
            const nextStepEl = document.querySelector(e.target.getAttribute('href'));
            nextStepEl.hidden = false;
            setTimeout(
                () => {
                    nextStepEl.scrollIntoView({behavior: 'smooth'});
                },
                500
            )
        })
    )
    ;[...document.querySelectorAll('.next-step-button')]
        .at(-1)
        .addEventListener('click', () => {
            document.querySelector('.preview-container__spacer').remove()
        })
    ctaEl.addEventListener('click', (e) => {
        e.preventDefault();
        previewContainerEl.hidden = false;
        const getVideoStream = () => 
        {
            if(!videoEl.paused) return
            return navigator.mediaDevices.getUserMedia({ 
                video: true 
            })
            .then((stream) => {
                videoEl.srcObject = stream;
                videoEl.play();
            })

        }
        getVideoStream()
        .then(
            () => {
                videoEl.style.visibility = 'visible';
                ctaEl.style.display = 'none';
                // pause the video when videoEl is not in view
                const observer = new IntersectionObserver((entries) => {
                    entries.forEach((entry) => {
                        if (entry.isIntersecting) {
                            getVideoStream()
                        } else {
                            videoEl.pause();
                            //unload the video stream from the element
                            videoEl.srcObject.getTracks().forEach(track => track.stop());
                        }
                    });
                }, { threshold: 0.5 });
                observer.observe(videoEl);
            }
        )
            .catch((err) => {
                errorMessageEl.style.visibility = 'visible';
            });
    });
</script>
