<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- build date: {{ site.buildTime }}buildTime-->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="theme-color" content="#fff4f4">
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link 
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet">
    <link type="application/atom+xml" rel="alternate" href="{{site.rootUrl}}/feed.xml" title="{{site.title}}">
    {% include "meta.njk" %}
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const remoteLinks = document.querySelectorAll('a[href^="//"], a[href^="http"]');

        [...remoteLinks].forEach((anchor) => {
          anchor.target = "_blank";
        });
      });
    </script>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}" {% endif %}>
    <main class="wrapper">
      {{ content | safe }}
    </main>
    {% include "analytics.njk" %}
    <script>__sonnet_build_time="{{ site.buildTime }}"</script>
    <a rel="me" hidden href="https://mastodon.cloud/@raf">Mastodon</a>
  </body>
</html>