---
layout: layouts/base.njk
pageClass: intro
---

<article class="intro">
  <div class="layout-spacer"></div>
  {% include "header-intro.njk" %}
  <header class="intro__header">
    <h1>
      Hi, I'm&nbsp;<br />
      <strong>Rafał Pastuszak</strong>
    </h1>
    <h2>rah · fau–pah · stoo · shack</h2>
  </header>
  <section class="intro__content">
    <p class="important">
      I'm a
      <a target="_blank" rel="noopener" href="https://uk.linkedin.com/in/rafalpast">product developer</a>, working at
      the intersection of technology, design and mental
      health.
    </p>

    <p>
      I offer consulting and fractional CTO services.
      Got an idea worth building?<br> <a href="https://calendly.com/hey_hey/work-chat?month=2023-09" target="_blank">Get
        in
        touch!</a>
    </p>
    <p>
      In my spare time I build useful and playful tools like
      <a target="_blank" href="https://enso.sonnet.io">Ensō</a> and
      <a target="_blank" href="https://sit.sonnet.io">Sit.</a>
    </p>
    <p>
      I love
      <a target="_blank" rel="noopener" href="https://www.instagram.com/rafalpast/">photography</a>, draw
      <a target="_blank" rel="noopener" href="https://potato.horse">terrible meeting notes</a>, <a
        href="/blog">write</a>, and <a target="_blank" rel="noopener" href="https://twitter.com/rafalpast">speak Persian
        in my sleep</a>.
    </p>

    <hr />
  </section>
  <div class="intro__decor"></div>
</article>