---
layout: layouts/base.njk
pageClass: intro
---

<article class="intro">
  <div class="layout-spacer"></div>
  {% include "header-intro.njk" %}
  <header class="intro__header">
    <h1>Hi, I'm&nbsp;<br> <strong>Rafał Pastuszak</strong></h1>
    <h2 title='You can do it pal!'>/'rafau pastoohshack/</h2>
  </header>
  <section class="intro-content">
    <h2>
      I'm a <a data-umami-event='click:LI' href="https://uk.linkedin.com/in/rafalpast">product developer</a>, working
      at&nbsp;the&nbsp;intersection of&nbsp;technology, design &amp;&nbsp;mental health.
    </h2>
    <p>
      You might know me from apps like <a href="https://enso.sonnet.io">Ensō</a> or <a
        href="https://sit.sonnet.io">Sit.</a>, or little toys like the&nbsp;<a href="https://lines.potato.horse">Uncolouring
        Book</a>.
    </p>
    <p>
      I like to <a href="/blog">write</a> and <a href="https://potato.horse">draw</a>
      about the&nbsp;things I <a href='/projects'>make</a> &amp; learn.
    </p>
    <p>
      I offer consulting and fractional CTO <a href='https://consulting.sonnet.io'>services</a> for small teams and&nbsp;founders. <br>Got an idea worth building? <a href="https://calendly.com/hey_hey/work-chat" data-umami-event='click:get-in-touch'>Get in touch!</a></p>
    <hr>

  </section>
  <div class="intro__decor"></div>
</article>