---
layout: layouts/base.njk
pageClass: intro
---

<article class="intro">
  <div class="layout-spacer"></div>
  {% include "header.njk" %}
  <header class="intro__header">
        <h1>Hi, I'm&nbsp;<br> <strong>Rafał Pastuszak</strong></h1>  
        <h2>/'rafau pastoohshak/</h2>
      </header>
  <section class="intro__content">
    <p>
        I’ve spent the past 10+ years 
        <a target="_blank" rel="noopener" href="https://uk.linkedin.com/in/rafalpast">helping businesses</a> 
        to move towards digital &amp; mobile.
    </p>
    <p>
      <a target="_blank" href="https://enso.sonnet.io">Ensō</a> is one of my recent personal projects.
    </p>
    <p>I love <a target="_blank" rel="noopener" href="https://www.instagram.com/rafalpast/">photography</a>.</p>
    <p>
      I <a href="/blog">write</a>, sometimes,
      <br>
      and <a target="_blank" rel="noopener" href="https://twitter.com/rafalpast">speak Persian in my sleep</a>.
      </p>

    <hr>

  </section>
  <div class="intro__decor"></div>
</article>
