---
layout: layouts/base.njk
pageClass: intro
---

<article class="blog container">
  {% include "header-blog.njk" %}
  <section class="listing listing--wide">
    <h1>Notes</h1>
    {# <h2>What is it lorem  ipsum dolor sit amet</h2> #}
    <ul class='listing__posts'>
      {%- for page in collections.note | reverse-%}
        {% if (page.data.hidden != true) %}
          <li class='note-card'>
            <header class='note-card__header'>
              <a class='note-card__title' href="{{ page.url }}">{{ page.data.title }}</a>
              <time class='note-card__time' datetime="{{ page.date }}">{{ page.date | dateDisplay("LLLL d, y") }}</time>
            </header>

            <section class='note-card__preview'>
              {{ page.data.content | safe}}
            </section>
            
            <div class='note-actions'>
              <button data-share-url='{{site.rootUrl}}{{ page.url }}' class='share-page-button'>Share</button>
              <a href="{{ page.url }}">Link</a>
            </div>
          </li>
        {% endif %}
      {%- endfor -%}
    </ul>
    <hr />
  </section>
</article>

{% set js %}
{% include "js/share.js" %}
{% endset %}
<script>
{{js |  safe}}
</script>