---
layout: layouts/base.njk
pageClass: posts
templateEngineOverride: njk, md
---

<div class="container container--full">
  {% include "header-blog.njk" %}
<article class="post">
  <header class="post__header">
  {%- if heroURL %} <img src="{{ heroURL }}" alt="{{ title }}" class="post__hero"/> {% endif %}
    <time class='post__time' datetime="{{ date }}">{{ date | dateDisplay }}</time>
    <h1 class='post__title'>{{ title }}</h1>
        {%- if subtitle %}
          <p class="post__subtitle">{{ subtitle | safe }}</p>
        {% endif %}
  </header>
  <div class="post__content">
    {{ content | safe }}
  </div>
</article>
<aside class="footnote">
  <a href="/blog">Show more posts</a>
</aside>
</div>