---
layout: layouts/base.njk
pageClass: projects
---

<div class="container page-projects">
  {% include "header-blog.njk" %}
    <h1>Projects</h1>
    
    <p>Some of my favourite personal projects, generally smaller in scope than my client work.<br> <br>For my commercial work, please <a href='mailto:hello@sonnet.io'>get&nbsp;in&nbsp;touch</a>!</p>

    <ul class='projects-list'>
      {%- for project in collections.project | reverse-%}
        {% if (project.data.hidden != true) %}
          <li class='projects-entry'>
            <article>
              <h1>{{project.data.title}}</h1>
              <time datetime="{{ project.date }}">{{ project.date | dateDisplay }}</time>
              {%- if project.data.heroURL %}{% pic project.data.heroURL, project.data.title %}{% endif %}
              <section class='projects-entry__content'>{{ project.data.content | mdblock | safe}}</section>
              {% if (project.data.demoURL) %}
                <a href='{{project.data.demoURL}}' class='projects-entry__link'>Launch</a>
              {% else %}
                <a href='mailto:hello@sonnet.io' class='projects-entry__link'>Contact</a>
              {% endif %}
            </article>
          </li>
        {% endif %}
      {%- endfor -%}
    </ul>
    <hr>
</div>