---
layout: layouts/base.njk
pageClass: projects
---

<div class="container page-projects">
  {% include "header-blog.njk" %}
  <h1>Projects</h1>

  <p class='page-projects__intro'>A selection of my personal projects and experiments.
    <br>For my client work, see my  <a href='/cv' target='_blank'>CV</a> or <a href='mailto:hello@sonnet.io'>get&nbsp;in&nbsp;touch</a>!</p>

  <ul class='projects-list'>
    {%- for project in projects.favourites -%}
    
      {%- if  project.isFavourite -%}
        <li class='projects-entry'>
          <article>
            <header>
              <h1><a href='{{project.demoURL}}'>{{project.title}}</a></h1>
              <time datetime="{{ project.date }}">{{ project.date | dateDisplayShort }}</time>
            </header>

            <a href="{{project.demoURL}}" class='projects-entry__thumbnail'>
              {%- if project.heroURL %}{% pic project.heroURL,
              project.title %}
            {% endif %}
              </a>

            <section class='projects-entry__content'>{{ project.content | mdblock | safe}}</section>
            <section class="projects-actions">
              {% if (project.demoURL) %}
              <a href='{{project.demoURL}}' class='projects-actions__link'>Open</a>
            {% else %}
              <a href='mailto:hello@sonnet.io' class='projects-actions__link'>Contact</a>
            {% endif %}
            </section>

          </article>
        </li>
      {% endif %}
    {%- endfor -%}
  </ul>
  <h2>Other projects</h2>
  <ul class='projects-remaining-list'>
    {% for project in projects.remaining %}
      <li>
        <header>
          <h1><a href='{{project.demoURL}}'>{{project.title}}</a></h1>
          <time datetime="{{ project.date }}">{{ project.date | dateDisplayShort }}</time>
        </header>
        <section class='projects-remaining-list__content'>{{ project.content | mdblock | safe}}</section>

        <section class="projects-actions">
          <a 
            href='{{project.demoURL}}'
            class='projects-actions__link projects-actions__link--size-s'>Open</a>
        {% for link in project.links %}
          {% if link.type === 'source' %}
          <a 
            href='{{link.url}}'
            class='projects-actions__link projects-actions__link--size-s projects-actions__link--secondary'>View code</a>
          {% elseif link.type === 'article' %}
          <a 
            href='{{link.url}}'
            class='projects-actions__link projects-actions__link--size-s projects-actions__link--secondary'>Read</a>
          {% else %}
          <a
           href='{{link.url}}' 
           class='projects-actions__link projects-actions__link--size-s'>Open</a>
          {% endif %}</a>
        {% endfor %}
        </section>
        
        </li>
    {% endfor %}

  </ul>
  <hr>
</div>