---
title: Sit.
date: 2022-12-25
heroURL: ./sit/hero.png
demoURL: https://sit.sonnet.io
isFavourite: true
---

Sit down and do nothing.

We spend so much time building things that steal attention &amp; extract value from users. [Sit.](https://sit.sonnet.io) does the opposite: it gives you back your time. 

Please share with a friend who needs to sit the fuck down or enjoy the experience yourself. 
