---
title: Tommy the Toe and the Chamber of Hostile Carpentry
date: 2020-03-10
heroURL: ./tommy/hero.jpg
demoURL: https://apps.apple.com/gb/app/tommy-the-toe/id1498417487
---

A simple iOS game built as a tribute to the broken toe of my partner. The assets are hand-drawn, the AI over-engineered.

Check the gameplay video [here](https://www.reddit.com/r/iosgaming/comments/f4bkov/my_girlfriend_broke_a_toe_so_i_made_a_game_about/).
