---
title: Facade
date: 2016-04-01
heroURL: ./facade/hero.jpg
demoURL: https://facade.photo
---

Façade makes it easy to create studio lighting using your phone, computer or tablet. Launched in Spring 2016, also used in the Rainbotron™ (an art installation/im promptu photo studio made of furniture salvaged in Brick Lane). 

Check out the [post launch article](goo.gl/JxpJQY) as well as the [gallery](https://500px.com/p/rafalpast/galleries/facade).
