---
title: 'Why Hummingbirds are Evil: procrastination, laziness and play'
date: 2023-03-07
hidden: false
heroURL: './src/site/images/hero/hummingbirds.png'
thumbnail: '/images/hero/hummingbirds-social.png'
description: 'Testing images'
---

Today I want to talk about three of my favourite spicy words: _procrastination_, _laziness_, and _play_. Hopefully by the time you’ve finished reading, you’ll see them in a more useful light. And, if I do my job right, you’ll leave this post a little bit lazier, and slightly more playful.

Along the way, I will also try to smuggle in some tips on how to work with _yourself_ when tackling a design problem. 

This is by no means a prescriptive guide and, in keeping with the article’s theme, I hope to leave you with more avenues to explore rather than strict answers. I’ll try to keep it _low_ on jargon, and relatively _high_ on personal introspection. Here’s why: we learn more efficiently through stories, and from people who communicate by setting an example. With that out of the way, let’s get started!


## TODO

When it comes to personal projects or any work where I have more control over my time, my process looks sometimes like this:

1. Work on something important
2. Procrastinate
3. Work on something less important, but something I care about
4. Once I get the kick from doing 3., go back to 1., rinse and repeat…

I had mixed feelings writing down this list. It’s hard to avoid judgement when talking about procrastination, especially because we tend to equate it with “laziness” or apathy.  But procrastination is an avoidance mechanism and a form of self sabotage, and laziness _does not exist_.


### Procrastination

{% pic "./imgs/janusz.png", "A simple round face with a neutral expression. It looks a bit like a cheap 1960s Soviet cartoon" %}


{% set procrast = 'https://link.springer.com/article/10.1007/s10942-012-0150-z' | md %}
{% set dereg = 'https://www.nytimes.com/2019/03/25/smarter-living/why-you-procrastinate-it-has-nothing-to-do-with-self-control.html#link-46f8a25d' | md %}

Research on procrastination{% footnoteref "procrast", procrast %}{% endfootnoteref %} contradicts the common belief that it's a symptom of “poor conscientiousness” and laziness. Instead, as it turns out, procrastination has everything to do with emotional regulation {% footnoteref 'dereg', dereg %}{% endfootnoteref %}.

So, why and how do we procrastinate? We might be afraid of failure or (more likely) of how daunting and complicated a particular task might look, so we keep postponing our work, and trade temporary relief for increased difficulty in the future. Or, we might be unable to manage (or even accept) the way a certain task makes us feel, leading us to search for endless distractions instead. This is where the emotional regulation issue comes in—we’d do anything to avoid feeling our painful, complicated emotions. Even if that means doom-scrolling to the bottom of Twitter or the _Orange Website_ as our work inbox fills up.

But  this is, of course, counterproductive and every time we avoid facing this little monster, we feed it a bit, and make it stronger.


{% set grown = "calling yourself a perfectionist during an interview sounds a bit silly. I think that it used to be a dog whistle for _I'll work after hours_ without actually verbalising it. In practice, perfectionists burn out or get nothing done." | md %}

This gets worse if you have a tendency for perfectionism, a term which, thankfully we’ve mostly grown out of {% footnoteref 'grown', grown %}{% endfootnoteref %} in a professional context. Perfectionism, by definition, is all or nothing. And, since all or nothing is a pretty high bar, this is also where _self-sabotage_ comes into play.

Self-sabotage happens when instead of facing the problem, we put ourselves in a situation where we’re unlikely to succeed. Let me illustrate this with an example:

A long time ago, when Sun was god and people still spoke in ActionScript, I was taking exams to determine which uni would have me. My grades were OK and with a bit of work I could get where I wanted, so _naturally_ I took 2.5x as many exams as I needed, which in fact _reduced_ my chances of getting anywhere. I did it purely because I couldn’t stand the idea of failing at the “normal” level. This is obvious in hindsight, and obviously nonsense. 

Self-sabotage allows us to say: we’ve failed not because of us, but because of the world _around_ us. It’s not us who are inherently broken.


{% fig "./imgs/not-me-you.png", ""%}“New Yorker humour”{% endfig %}

### Laziness, or, why hummingbirds are evil



{% pic "./imgs/janusz-eye.png", "" %}


_Laziness_ is a huge subject, involving evolutionary biology, neuroscience, psychology, religion, politics, and make-believe. Naturally, I can’t do it justice in a few paragraphs. So, instead of getting bogged down in the details, let’s play a round of Laziness Bingo™.


{% pic "./imgs/bingo.png", "" %}


OK, here are the results: it seems like [90s kids with ADHD](https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=adhd+laziness&btnG=), people with [mental illness](https://en.wikipedia.org/wiki/Avolition), the homeless, [people in their 30s](https://www.nytimes.com/2019/07/12/business/buying-lattes-rich-financial-advice.html), and immigrants are all _lazy_. _Laziness_ is an umbrella term we apply to things and behaviours we don’t—or _don’t want to_—understand.

Can you think of a single example of a real and _truly_ lazy person you know? By that I mean, someone who’s _inherently_ lazy, _without any extenuating circumstances_ like mental illness. A good heuristic for answering this question usually looks like this:

{% set betterige = '“Any headline that ends in a question mark can be answered by the word no.” [(source)](https://en.wikipedia.org/wiki/Betteridge%27s_law_of_headlines)' | md %}
1. Rephrase your sentence as a news headline: _Is &lt;placeholder&gt; lazy?_
2. Apply _Betteridge's law of headlines_{% footnoteref 'betterige', betterige %}{% endfootnoteref %}

Another useful tool for this is [Emotive Conjugation](/posts/emotive-conjugation/), which predicts that we’re more charitable when explaining our own behaviour vs. the behaviours of others. 

And then there’s also a darker, more manipulative aspect to the concept of laziness, the ability to _[other](https://en.wikipedia.org/wiki/Other_(philosophy))_ anything it touches. That’s how immigrants can somehow be both lazy and out to steal all the jobs, depending on which side of the imaginary line in the sand you stand.

Anyway, so why are hummingbirds evil? Because despite their ridiculously high energy demands, they still do fuck all once they’re satiated. And, as you know _Idle hands are the devil's workshop (Proverbs 16:27)_.

{% fig "./imgs/evil.png", "" %}Hail Satan{% endfig %}

### Just sit down and get to work (or YMMV)
{% set sitzfleisch = 'https://www.bbc.com/worklife/article/20180903-to-have-sitzfleisch---its-a-professional-compliment' | md %}
You might’ve heard about *Sitzfleisch*{% footnoteref 'sitzfleisch', sitzfleisch %}{% endfootnoteref %}—the ability to just sit down on your butt and keep going. There’s no doubt that it’s an important skill, especially now, when we're bombarded with distractions and our attention spans are getting shorter and shorter. 

However, in my case, it’s more of a red herring, a Sitz<em>fisch</em> if you will. Once I finally start working on something, I find it relatively easy to stay focused or to push myself, sometimes for hours, but it doesn’t always mean I get more done this way. On the contrary, the mistake I often make is overcorrecting for Sitzfleisch by spending too much time on a single task, and getting burned out.

It seems a bit like the opposite of the self-sabotage example from above, but in fact it’s a very similar mechanism: I do it so I can _tell myself I did my best_. If you’re reading my blog chances are you can relate.


### Work and play

{% pic "./imgs/comrade-cordyceps.png", "" %}


I cringe a bit when I hear someone using the verb _play_ in a work context. The reason for that is twofold:

First, it’s a bit sinister. In corpo-newspeak words like this are used to manipulate people into working harder than they should, or working on something they wouldn’t otherwise want to work on. This form of fake playfulness, even infantilization, is usually directly proportional to how much VC money is poured into the business and inversely proportional to the actual value it creates. 

Here’s an example:

{% set cringe = '100% real example, I had to actually soften the language a bit because after having left places like this even I have hard times believing it.' | md %}

> We might be selling ads, but you, pal, you’re #deliveringwow. Now pass me the nerf gun and let’s head to the Clubhouse!{% footnoteref 'cringe', cringe %}{% endfootnoteref %}
> <cite>unnamed, but real, employee of a London ad tech company</cite>

This also makes for a much more interesting story when your friends or family (or _you_) ask yourself what you do for a living. You’re not _working_, you’re just having good old fun™. You must be special. Have a cookie.

The last paragraph is particularly important here. Just like with _laziness_, our definition of _play_ doesn’t hold up to scrutiny once we stop and apply critical thinking. 

First, _playing_ to many of us means doing something _inherently useless_, and perhaps this is why play can seem counterproductive from an evolutionary standpoint. But _is_ it inherently useless?  For most of what we call “the West” (and most of this planet, believe me or not, is _not_ West-centric) the answer might not be that obvious. 

In fact, _playing_ is a universal behaviour shared by humans and animals, serving a plethora of different purposes ranging from [improving motor coordination](https://www.psychologytoday.com/us/blog/beastly-behavior/201705/why-play-is-important), practice, bonding, managing stress, developing and improving cognitive skills, [reinforcing or organising social structures](https://en.wikipedia.org/wiki/Deep_Play:_Notes_on_the_Balinese_Cockfight). (This does not apply to seals. Seals, unlike hummingbirds, are actually evil.)


## Predictably irrational

To paraphrase Daniel Ariely: we’re irrational creatures, but the beautiful part is that we’re _predictably_ irrational. Know your flaws and set up systems to help account for them. In other words: it’s not your fault that you feel a certain way, but it’s your responsibility to act _when you can_.

For instance, the answer for me, sometimes, is this: _If you can_, work on something you care about. If  that’s hard, try to find something smaller to care about and don’t worry if it seems a bit trivial. Still nothing? Look for [something even smaller](https://sonnet.io/posts/sit) you can fit in your schedule. 

Intrinsic motivation always trumps external motivation when it comes to creative work. When you care about something, it’s easier to push yourself out of your comfort zone, e.g. message someone with a crappy demo of your project asking them for feedback, learn a new piece of tech or learn about my personal nemesis: marketing. Intrinsic motivation makes it easier to think in terms of _what’s possible_ vs. _what could go wrong_. 

I am terrible at working on things I don’t give a shit about. That list grows every year. And I realised very late how much stress I was causing  myself by  brute-forcing  the  problem instead of trying to understand it better. 

If you grew up without financial security or  under pressure to perform better than your peers, you can probably relate. 


{% pic "./imgs/balance.png", "" %}


The key tool here is balance: if I recognise that I’m getting bored and it’s hard to focus when working on Number 1. (_the important thing_ on our list), I try to work on Number 3. (_the thing I care about_), instead, reducing my  chances of falling into the familiar procrastination-self-doubt-apathy cycle.

This is hard and doesn’t always work, but that’s still perfectly fine since every failure is a stepping stone _if we take time to reflect on it_. Accepting that is a part of work. When my amygdala is screaming _danger, you’ll fail!_ I still have to remind myself that my choices are not motivated by defeatism, but patience.

The balancing act is a skill like any other – just like learning a new language, playing an instrument or juggling. 


## Closing words


> We gonna turn frustration into inspiration 
> Whatever demons are there, we gonna set them free 
> <cite>Gogol Bordello, [Tribal Connection](https://soundcloud.com/gogolbordello/gogol-bordello-tribal)</cite>


{% set with_them = "Many of the mechanisms we're discussing are here to help you

But, this gets even more interesting when we consider neurodiversity. There are arguments suggesting that neurodiversity served an important purpose from the evolutionary point of view. Specialised types of cognition might've helped us adjust to a constantly changing environment. It's possible that from a genetic and cultural point of view, humanity is constantly searching for and trialing different modes of cognition. 

For more details read [Greater than the sum of our parts: The Evolution of Collective Intelligence](https://www.arch.cam.ac.uk/news/greater-sum-our-parts-evolution-collective-intelligence) published by the Department of Archaeology of the University of Cambridge" | md %}

Once we stop for a second and approach these behaviours without being distracted by judgement statements, we can work around them. Or, even better, we can work _with_ them {% footnoteref 'with_them', with_them %}{% endfootnoteref %}.

In my case, this took the form of attending therapy, swapping social media time for daily writing, building mental health friendly tools like Sit., or Ensō, and spending more time with my family and friends. You’ve read lists like this 100s of times, and the reason they don’t work is the same  reason they exist: the way you’ll build yours will be [different](https://poets.org/poem/nothing-twice) from the way I built mine. 

So, here’s my **only** piece of advice:


> **Whatever you do, try to recognise your patterns and&nbsp;consider self-judgement a warning signal that your perspective might be flawed.**

With the above in mind, let’s fix our list!



1. Work (on something important)
2. Rest (get bored)
3. Play (with something you care about… or not!)
4. Rinse and repeat…

I hope you’ll be able to set those demons free. Trust me, I was a middle-school satanist.

{%  pic "./imgs/pentagram.png", "" %}
<br>
<br>
PS. [Alexandra Ciufudean](https://uk.linkedin.com/in/alexandra-ciufudean-36b65514a) edited and translated this article into human. 