---
title: Butter
date: 2023-05-05
heroURL: ./butter/hero.png
demoURL: https://butter.sonnet.io
isFavourite: true
---

Butter is a browser extension that skips sponsored content in YouTube videos. It does this by watching them before you do. Because you deserve butter.