---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ site.title }}</title>
    <subtitle>{{ site.description }}</subtitle>
    <link href="{{ site.rootUrl }}/feed.xml" rel="self" type="application/atom+xml"/>
    <link href="{{ site.rootUrl }}" rel="alternate" type="text/html"/>
    <author>
        <name>{{ author.name }}</name>
    </author>
    {% if collections.post %}
        <updated>{{ collections.post | rssLastUpdatedDate }}</updated>
    {% endif %}
    <id>{{ site.rootUrl }}/</id>
    {%- for post in collections.post | reverse -%}
    {% if (post.data.hidden != true) %}
        {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.rootUrl) }}{% endset %}
        <entry>
            <title>{{ post.data.title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>{{ post.date | rssDate }}</updated>
            <id>{{ absolutePostUrl }}</id>
            <content type="html">
                <![CDATA[
                {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}
            ]]>
            </content>
        </entry>
        {% endif %}
    {%- endfor -%}
</feed>