.article {
    padding: var(--page-margin) calc(var(--page-margin) * 2);

    &__title {
        font-size: 3rem;
        line-height: calc($rhythm-unit * 2);
        padding: 0;
        margin: calc($rhythm-unit * .2) 0  calc($rhythm-unit * .05);

        font-family: $font-title;
        font-weight: 700;
        font-style: italic;

        color: $color-accent-secondary;

        @media all and (min-width: $screen-mid) {
            font-size: 6rem;
            font-weight: 700;
            line-height: calc($rhythm-unit * 4);
            margin: calc($rhythm-unit * .25) 0  0;
        }
    }
    &__subtitle {
        margin: 0;
    }

    &__time {
        position: relative;
        top: calc($rhythm-unit * .25);
        opacity: .5;
    }

    &__header {
        margin-bottom: calc($rhythm-unit * 2.05);
    }

    &__content {
        @media all and (min-width: $screen-mid) {
            margin: 0 5rem 0;
        }
    }

    p {
        margin: 0 0 $rhythm-unit;
    }

    h2 {
        text-transform: uppercase;
        font-weight: 600;
        margin: calc($rhythm-unit * 2) 0 $rhythm-unit;
        line-height: $rhythm-unit;
    }

    ol, ul {
        margin: 0 0 $rhythm-unit;
        padding: 0;
    }

    pre {
        margin: $rhythm-unit 0;
        padding: calc($rhythm-unit * .5);
        margin: calc($rhythm-unit * -.5) calc($rhythm-unit * -.5) calc($rhythm-unit * 1.5);
        background: rgba(0, 0, 0, .1);
        overflow: auto;
        border:none;
    }

    a {
        &:link, &:visited {
            color: $color-link;
            font-weight: 600;
            text-decoration: none;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                height: 0.125rem;
                width: 100%;
                bottom: 0.125rem;
                left: 0;
                background: $color-accent-primary;
                opacity: .1;
                transition: .2s;
                z-index: -1;
            }

            &:hover {
                &::after {
                    content: '';
                    position: absolute;
                    height: 45%;
                    width: 100%;
                    bottom: 0.125rem;
                    left: 0;
                    background: $color-accent-primary;
                    opacity: 1;
                    transition: .2s;
                    z-index: -1;
                }
            }
        }
    }

    img {
        width: calc(100% + var(--page-margin) * 4);
        margin-left: calc(var(--page-margin) * -2);
        height: auto;
    }
}

.footnote {
    padding: var(--page-margin) calc(var(--page-margin) * 2);
    
    @media all and (min-width: $screen-mid) {
        margin: 0 5rem 0;
    }
}