.article {
    padding: var(--page-margin) calc(var(--page-margin) * 2);

    &__title {
        font-size: 3rem;
        line-height: calc($rhythm-unit * 2rem);
        padding: 0;
        margin: 0 0 calc($rhythm-unit * 2rem);

        font-family: $font-title;
        font-weight: 700;
        font-style: italic;

        color: $color-accent-primary;

        @media all and (min-width: $screen-mid) {
            font-size: 6rem;
            font-weight: 700;
            line-height: calc($rhythm-unit * 4rem);
            margin: 0 0 calc($rhythm-unit * 2rem);
        }
    }
    &__subtitle {
        margin: 0;
    }

    &__time {
        position: relative;
        top: calc($rhythm-unit * 0.25);
        opacity: 0.5;

        @media all and (min-width: $screen-mid) {
            top: 0;
        }
    }

    &__header {
        margin-bottom: calc($rhythm-unit * 2.05);
    }

    &__content {
        @media all and (min-width: $screen-mid) {
            margin: 0;
            max-width: 35rem;
        }
    }

    p {
        margin: 0 0 calc($rhythm-unit * 1rem);

        &.intro {
            font-size: 1.4rem;
            line-height: calc($rhythm-unit * 1rem);
            font-weight: 400;
        }
    }

    code {
        margin: 0 0 calc($rhythm-unit * 1rem);
        font-size: 1rem;
    }

    h2 {
        text-transform: uppercase;
        font-weight: 600;
        margin: calc($rhythm-unit * 2rem) 0 calc($rhythm-unit * 1rem);
        line-height: calc($rhythm-unit * 2rem);
    }

    h3 {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        margin: calc($rhythm-unit * 2rem) 0 0;
        line-height: calc($rhythm-unit * 2rem);
    }

    ol,
    ul {
        margin: 0 0 calc($rhythm-unit * 1rem);
        padding: 0;
    }

    pre {
        margin: calc($rhythm-unit * 1rem) 0;
        padding: calc($rhythm-unit * 1rem);
        background: rgba(0, 0, 0, 0.1);
        overflow: auto;
        border: none;
    }

    a {
        &:link,
        &:visited {
            color: $color-link;
            font-weight: 600;
            text-decoration: none;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                height: 0.125rem;
                width: 100%;
                bottom: 0.125rem;
                left: 0;
                background: $color-accent-primary;
                opacity: 0.1;
                transition: 0.2s;
                z-index: -1;
            }

            &:hover {
                &::after {
                    content: '';
                    position: absolute;
                    height: 45%;
                    width: 100%;
                    bottom: 0.125rem;
                    left: 0;
                    background: $color-accent-primary;
                    opacity: 1;
                    transition: 0.2s;
                    z-index: -1;
                }
            }
        }
    }

    img {
        width: calc(100% + var(--page-margin) * 4);
        margin-left: calc(var(--page-margin) * -2);
        height: auto;
    }

    hr {
        height: 0;
        margin: 0 0 calc($rhythm-unit * 1rem);
        padding: 0;
        width: 100%;
        border: none;
        text-align: center;
        height: calc($rhythm-unit * 3rem);

        &::after {
            content: '&';
            font-family: $font-header;
            font-size: 2rem;
            line-height: calc($rhythm-unit * 3rem);
        }
    }
}
