.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: calc($rhythm-unit * 2);

    @media all and (min-width: $screen-mid) {
        flex-direction: column;
        align-items: flex-start;
        height: calc(100vh - $page-margin * 2);
        position: fixed;
    }

    &__logo {
        display: flex;
        width: $rhythm-unit;
        height: $rhythm-unit;

        background: url('/images/logo.png');
        background-size: 100%;
    }

    &__nav {
        display: flex;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            display: inline-block;
            margin-left: 1rem;

            &:first-child {
                margin-left: 0;
            }
        }

        a:link, a:visited {
            color: $color-body;
            text-decoration: none;
        }

        a:hover, a:active {
            color: $color-accent-primary;
        }
    }
}