.listing {
    --listing-width: 40rem;

    text-align: center;

    ul {
        margin: 0 auto calc(var(--ru) * 2rem);
        padding: 0;
        list-style: none;
        max-width: var(--listing-width);
    }

    h1 {
        font-size: 4rem;
        line-height: calc(var(--ru) * 4rem);
        margin: 0 0 calc(var(--ru) * 2rem);
        font-weight: 600;
        text-align: center;
    }

    &__post {
        font-weight: 600;
        margin-bottom: calc(var(--ru) * 2rem);
        text-align: left;
        overflow: visible;
    }

    &__post-link {
        font-size: 3rem;
        line-height: calc(var(--ru) * 2rem);
        color: var(--color-text);
        display: block;
        word-break: break-word;
        text-decoration: none;
        font-weight: 600;
        &:hover,
        &:active {
            color: var(--color-link);
        }
    }

    &__post-time {
        font-size: 1.5rem;
        line-height: calc(var(--ru) * 2rem);
        opacity: 0.6;
        font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    }

    hr {
        padding: 0;
        margin: 0;
        text-align: center;
        border: none;
        font-size: 3rem;
        line-height: calc(var(--ru) * 3rem);
        height: calc(var(--ru) * 3rem);
        &::after {
            content: '❦';
        }
    }

    @media all and (min-width: $screen-narrow) {
        text-align: left;

        & {
            max-width: var(--listing-width);
            margin: 0 auto;
        }

        &--wide {
            --listing-width: 50rem;
        }

        h1 {
            font-size: 8rem;
            line-height: calc(var(--ru) * 10rem);
            text-align: center;
        }

        ul {
            margin: 0 0 calc(var(--ru) * 4rem);
        }
    }
}
