.nav {
    /* padding-top: 3em; */
    /* background: $dark-color; */
    margin: 1rem 0 .5rem;
    line-height: calc($baseline * 1.5);
    /* text-align: center; */
    li {
      display: inline-block;
      margin-right: 1rem;
    }
  
    a:link,
    a:visited {
      font-family: $font-body;
      display: inline-block;
      text-decoration: none;
      font-weight: 400;
      /* color: $page-color; */

      /* &:first-child { margin-left: .75rem} */
    }
    a:hover,
    a:focus {
        color: $accent-color;
    }
  
    small {
      display: block;
      font-size: 0.7em;
      color: mix($text-color,$accent-color, 60%);
    }
  }