.post {
    &__header {
        text-align: center;
        margin-top: calc(var(--ru) * 3rem);
        @media all and (min-width: $screen-narrow) {
            margin-top: calc(var(--ru) * 4rem);
        }
    }

    &__title {
        font-size: 4rem;
        font-weight: 500;
        line-height: calc(var(--ru) * 3rem);
        margin: 0 0 calc(var(--ru) * 3rem);
        font-style:italic;

        @media all and (min-width: $screen-narrow) {
            
            font-size: 6rem;
            font-weight: 500;
            line-height: calc(var(--ru) * 4rem);
            margin: 0 0 calc(var(--ru) * 4rem);
        }
    }

    &__time {
        font-size: 2rem;
        line-height: calc(var(--ru) * 2rem);
    }

    &__content {
        p {
            font-size: 2rem;
            line-height: calc(var(--ru) * 2rem);
            margin: calc(var(--ru) * 1rem) 0;
        }

        a {
            color: var(--color-text);
            font-weight: 600;
            font-style: italic;

            &:hover, &:active {
                color: var(--color-link);
            }
        }

        h2 {
            font-size: 3rem;
            font-weight: 500;
            line-height: calc(var(--ru) * 2rem);
            margin: calc(var(--ru) * 2rem) 0 0;
        }

        h3 {
            font-size: 2rem;
            font-weight: 500;
            line-height: calc(var(--ru) * 2rem);
            margin: calc(var(--ru) * 2rem) 0 0;
        }

        img {
            margin: 0;
            vertical-align: bottom;
            margin-left: calc(var(--page-margin) * -1);
            width: calc(100% + calc(var(--page-margin) * 2));
            height: auto;
        }

        ol, ul {
            margin: 0;
            padding: 0;
            font-size: 2rem;
        }


        hr {
            padding: 0;
            margin: calc(var(--ru) * 2rem) 0;
            text-align: center;
            border: none;
            font-size: 3rem;
            line-height: calc(var(--ru) * 3rem);
            height: calc(var(--ru) * 3rem);
            &::after { content: '❦'; }
        }

        pre {
            font-size: 1.5rem;
            line-height: calc(var(--ru) * 2rem);
            margin: calc(var(--ru) * 2rem) 0;
            overflow-x: auto;
        }

    }
}