/* breakpoints for media queries */
$screen-narrow: 400px;
$screen-mid: 740px;
$screen-wide: 1200px;

$font-size: 16px;
$baseline: 24px;

$page-margin: 2.5rem;

$color-page: #fff;
$color-body: #444;
$color-accent-primary: #FF4555;

$font-title: 'Playfair Display', Georgia, serif; 
$font-body: monospace;
$font-header: $font-title;