$screen-narrow: 430px;
$screen-mid: 800px;
$screen-wide: 1200px;

:root {
    --font-size: 12px;
    --ru: 1.5;
    --font-body: 'EB Garamond', serif;

    --page-margin: calc(2rem * var(--ru));
    --page-margin-mid: calc(3rem * var(--ru));

    --color-bg: #FFF4F4;
    --color-text: #3E3E3E;


    @media all and (min-width: var(--screen-mid)) {
        --page-margin: var(--page-margin-mid);
        --font-size: var(--font-size-mid);
    }
}