/* breakpoints for media queries */
$screen-narrow: 400px;
$screen-mid: 740px;
$screen-wide: 1200px;

$font-size: 16px;
$font-size-mid: 18px;
$rhythm-unit: 1.5;

$page-margin: calc(1rem * $rhythm-unit);
$page-margin-mid: calc(2rem * $rhythm-unit);

$color-page: #fafafa;
$color-article: rgba(0, 0, 0, .0);
$color-body: #444;
$color-accent-primary: #FF4555;
$color-accent-secondary: #0E0F99;

$color-link: #000;

$font-title: 'Playfair Display', Georgia, serif; 
$font-body: 'Open Sans';
$font-header: $font-title;