@import '_libs.css';
@import '_variables.css';
@import '_reset.css';

@import '_header.css';
@import '_footer.css';
@import '_article.css';


body {
    font-family: $font-body;
    font-size: $font-size;
    line-height: $rhythm-unit;
}

main {
    @media all and (min-width: $screen-mid) {
        max-width: 60rem;
        width: 100%;
        margin: 0 0 0 10rem;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: $page-margin;
    
    @media all and (min-width: $screen-mid) {
        flex-direction: row;
    }
}

