@import '_libs.css';
@import '_variables.css';
@import '_reset.css';

@import '_header.css';
@import '_footer.css';
@import '_article.css';


/* main, .article, .article__content {
    background: rgba(255, 0, 0, .1);
} */

body {
    font-family: $font-body;
    font-size: $font-size;
    line-height: $rhythm-unit;
}

main {
    @media all and (min-width: $screen-mid) {
        max-width: 70vw;
        margin: 0 0 0 auto;
        justify-self: flex-end;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: $page-margin;
    
    @media all and (min-width: $screen-mid) {
        flex-direction: row;
    }
}

